@font-face {
    font-family: public-sans;
    src: url('../assets/fonts/PublicSans-Regular.ttf');
}
@font-face {
    font-family: public-sans-light;
    src: url('../assets/fonts/PublicSans-Light.ttf');
}
@font-face {
    font-family: public-sans-bold;
    src: url('../assets/fonts/PublicSans-Bold.ttf');
}